/* see: https://codepen.io/code-boxx/pen/KKJOMJV */

/* (A1) FORCE ALL ITEMS INTO SINGLE ROW */
.hmove { 
  display: flex; 
}

.hitem { 
  width: 100%;
  flex-shrink: 0; 
}

.hwrap { overflow: hidden; }

/* (A2) MOVE ITEMS FROM RIGHT TO LEFT */
/* first item = 0, fourth item = -300% */

@keyframes tickerh {
  0% { transform: translatex(100%); }
  100% { transform: translatex(-100%); }
}
.hmove { animation: tickerh linear 60s infinite; }


/* (A3) COSMETICS - NOT IMPORTANT */
.hwrap {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  color: #ffffff;
  background: #003c71;
  width: 100%; /* highly recommended */
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.hitem { 
  padding: 2px;
  text-align: center;
}
.hwrap, .hwrap * { box-sizing: border-box; }

.hmove{
  box-sizing:border-box;
  font-family:arial,sans-serif;
  max-width:6000px;
  white-space: nowrap;
}
